*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #051937, #00426f, #006f89, #009b74, #23c231);
}
.wrapper{
    width:80%;
    min-height: 200vh;
    margin:auto;
    border: 1px grey solid;
    overflow: hidden;
    position: relative;
    background: white;

}

header{
    width: 80vw;
}
.header-image{
    width: 100%;
    height:20vh;
    background:linear-gradient(to top,rgba(0, 0, 0,0.4),transparent),url('../asset/img/Navimag.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#navbarSupportedContent ul li{
    padding-right: 25px;
}

/* Navbar */
nav{
    background-color:#207561;
    margin-right:8px;
}

.navbar-light .navbar-nav .nav-link{
    color: gainsboro;
}

.btn-outline-success{
    color: white;
    border: 1px solid;
    
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
} 

.navbar-light .navbar-nav .active > .nav-link{
    color:white
}

/* Navbar */


.alphabet-list{
    border:1px solid #207561;
    padding:0;
    display: flex;
    justify-content: flex-start;
    width:80%;
    background:#c5f0a4;
    margin-top:10px
}

.alphabet{
    height: 37px;
    width: 45px;
    margin: 0;
    padding: 2px;
    text-align: center;
}

.alphabet:hover{
    background:#589167;
    color:rgb(233, 233, 233);
    cursor: pointer;
    transform: scale(1.2)
}

.showSelected{
    width: 100%;
    height: 43px;
    background: #589167;
    margin-top: 15px;
    color:white
}

/* Main Content */

.main{
    width:100%;
    padding:10px;
    justify-content: space-between;
    min-height:100vh;
    display: flex;
}

.card{
    color: #525252;
    margin: 2px 10px 2px 2px;
    padding: 8px 2px 2px 2px;
    border: 1.5px solid #d8d8d8;
    opacity: 0.9;
    border-radius: 18px;
    text-align: center;
    height: 250px;
    width: 195px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    -webkit-box-shadow: 0px 7px 11px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow:    0px 7px 11px 0px rgba(50, 50, 50, 0.65);
    box-shadow:         0px 7px 11px 0px rgba(50, 50, 50, 0.65);
}

.card img{
    border-radius:8px
}

.card img:hover{
    transform: scale(1.1);
    transition: all 1s ease;
}

.card h4{
   margin-top:7px
}

/* Home Page */

.song-section{
    display:flex;
    width : 77%;
    border: 1px gray solid ;
    max-height:80rem;
}
.hitlist{
    max-height:80rem;
    width:21%;
    display: flex;
    flex-direction: column;
    justify-content:start;
}
.hits{
    height: 13.5rem;
    border: 1px gray solid ;
    padding-top:5px;
    margin-top:5px;
    text-align: center;
}

footer{
    bottom: 0%;
    position: absolute;
    height: 50px;
    text-align: center;
    left: 0%;
    width: 100%;
    background: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:910px){
    .alphabet-list {
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        margin-top:10px

    }

    .main {
        flex-wrap: wrap;
        min-height: 0;
    }
    .song-section{
        width: 100%;
    }
    .hitlist{
        flex-direction: row;
        width: auto;
        max-height:25rem;

    }

    .hits{
        margin:5px;
        padding:5px
    }

   
}
@media screen and (max-width:622px){
    .card{
        color: #525252;
        margin:5px 5px 0px 0px;
        opacity: 0.9;
        text-align: center;
        height: 130px;
        width: 122px;
        overflow: hidden;
        border-radius: 0;
    }
    
    .card img{
        border: none;
        border-radius: 8px;
        height: 65px;
    }

    .card h4,p{
        font-size:0.8rem
    }

    .hitlist{
        width:15%;
        display: flex;
        flex-direction: rpw;
        justify-content:start;
        flex-wrap: wrap;
        flex-grow: 5;
    }

    .hits{
        height: 8rem;
        border: 1px gray solid ;
        padding-top:5px;
        margin-top:5px;
        text-align: center;
        width: 6rem;
        font-size:smaller ;
        overflow-y: scroll;
    }

}