*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.wrapper{
    width:80%;
    height: 200vh;
    margin:auto;
    border: 1px grey solid;
    overflow: hidden;
    position: relative;
}

header{
    width: 80vw;
}
.header-image{
    width: 100%;
    height:20vh;
    background:url('./asset/img/Navimag.png');
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#navbarSupportedContent ul li{
    padding-right: 25px;
}

.alphabet-list{
    border: groove;
    height:41px;
    padding:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alphabet{
    height: 37px;
    width: 45px;
    margin: 0;
    padding: 2px;
    text-align: center;
}

.alphabet:hover{
    background:#f1d1d1;
    color:#7d5a5a;
    cursor: pointer;
    transform: scale(1.2)
}

.showSelected{
    width: 100%;
    height: 43px;
    background: #cd8d7b;
    margin-top: 15px;
    color:white
}

/* Main Content */

.main{
    width:100%;
    padding:30px 10px 10px 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    
}

.card{
    color: #525252;
    margin: 2px 2px 2px 2px;
    padding: 8px 2px 2px 2px;
    border: 1.5px solid #d8d8d8;
    opacity: 0.9;
    border-radius: 4px;
    text-align: center;
    height: 250px;
    width: 195px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    -webkit-box-shadow: 0px 7px 11px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow:    0px 7px 11px 0px rgba(50, 50, 50, 0.65);
    box-shadow:         0px 7px 11px 0px rgba(50, 50, 50, 0.65);
}

.card img:hover{
    transform: scale(1.1);
    transition: all 1s ease;
}

.card h4{
   margin-top:7px
}

/* Home Page */

.tab1{
    display:flex;
    width : 65%;
    border: 1px gray solid ;
    height: 48rem;
}
.tab2{

    max-height:80rem;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content:start;
}
.hits{
    height: 11rem;
    border: 1px gray solid ;
    padding-top:5px;
    margin-top:5px
}

.Relatedmovies{
    width: 100%;
    height: 24rem;
    border: 1px gray solid ;
    
}

.moviecard{
    display: flex;
    border: 1px gray solid;
    height: 63px;
    width: 13rem;
    padding: 2px;
    margin:3px
}

.moviecard img{
    height: 57px;
    width: 4rem;
    border-radius: 5%;
}

.tab3{
    padding-left: 8px;
}

.tab3 p{
    margin:0
}

footer{
    border: groove;
    bottom: 0%;
    position: absolute;
    height: 50px;
    text-align: center;
    margin-bottom: 0px;
    left: 0%;
    width: 100%;
}